# site properties and page defaults
title: Perceptual Representation and InforMation Engineering Lab
subtitle: 
description: Delve into the mind, depict with the beauty of math.
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: prime.lab.tw@gmail.com
  google-scholar: 9RKoQacAAAAJ
  github: PRIME-PSY-LAB

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post
  # markdown files in /_research_intro
  - scope:
      path: ""
      type: research_intro
    values:
      layout: project

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true
  # do not generate page for each highlight post
  highlight_post:
    output: false
  research_intro:
    output: true
    permalink: /research/:path/


# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
