<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
<script src="https://unpkg.com/mark.js@8" defer></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  <script src="{{ script.path | relative_url }}"></script>
{% endfor %}

<script>
document.addEventListener("DOMContentLoaded", function () {
  const track = document.querySelector(".pub-carousel-track");
  if (!track) return;

  const slides = Array.from(track.children);
  const prevBtn = document.querySelector(".pub-prev");
  const nextBtn = document.querySelector(".pub-next");

  let index = 0;

  function updateCarousel() {
    const offset = -index * 100;
    track.style.transform = `translateX(${offset}%)`;
  }

  prevBtn.addEventListener("click", () => {
    index = (index - 1 + slides.length) % slides.length;
    updateCarousel();
  });

  nextBtn.addEventListener("click", () => {
    index = (index + 1) % slides.length;
    updateCarousel();
  });
});
</script>
